
*{
  font-family: 'Roboto', 'sans-serif';
  font: 700 1.6rem;
}

body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background: url(../src/assets/images/hero.png) no-repeat;
  background-size: cover;
}